/* Body elements */

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

nav {
  padding-top: 10px;
  display: flex;
}

ul, li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="text"] {
  border: 1px solid #dadada;
  border-radius: 30px;
  width: 600px;
  height: 50px;
  width: 70vw;
  max-width: 75vw;
  font-size: inherit;
}

footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12vh;
  background: #f2f2f2;
}

/* Class attributes */

.p {
  margin: 14px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  font-size: 1.2em;
}

.nav-right {
  display: flex;
  flex-direction: row;
  width: 50vw;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.nav-gmail {
  font-size: 1.02em;
}

.nav-images {
  font-size: 1.02em;
  padding-right: 20px;
}

.nav-img-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.container {
  padding-top: 100px;
  padding-bottom: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  width: 350px;
}

.container img {
  width: 100%;
  height: auto;
}

.icon-apps {
  padding-right: 20px;
}

.icon-account {
  padding-right: 20px;
}

.search-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-icon-glass {
  margin-top: -40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  z-index: 10;
}

.search-icon-mic {
  margin-top: -40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  z-index: 10;
}

.search, .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 27px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 1.2em;
  color: #3c4043;
  margin: 11px 4px 11px 4px;
  padding: 10px 16px 10px 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  font-size: 1.2em;
  
}

.carbon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90px;
  font-size: 1.2em;
  color: #70757a;
  padding-top: 10px;
}

.nav-low-left, .nav-low-right {
  display: flex;
  align-items: center;
  width: 50vw;
  color: #70757a;
}

.nav-low-left {
  justify-content: space-around;
  padding: 15px;
}

.footer-spacer {
  width: 10%;
}

.nav-low-right{
  justify-content: space-around;
  padding: 15px;
}